<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BPS Discovery</title>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/modal.css}" rel="stylesheet"/>
    <link th:href="@{/css/fileupload.css}" rel="stylesheet"/>
</head>
<body>

<!-- Page Content -->
<div class="container">

    <!-- component template -->
    <script type="text/x-template" id="grid-template">
        <table style="2px solid #f9f9f9;">
            <thead>
            <tr>
                <th v-for="key in columns"
                    @click="sortBy(key)"
                    :class="{ active: sortKey == key }" style="font-family: sans-serif">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    <div v-if="entry[key].includes('/discovery')" align="center">
                        <a :href="entry[key]"><img border="0" alt="download" th:src="@{/img/download.gif}"
                                                   width="25"></a>
                    </div>
                    <div v-else-if="entry[key] === ''" align="center">
                        <a href="javascript:window.location.reload();"><img border="0" alt="refresh"
                                                                            th:src="@{/img/refresh.jpg}"
                                                                            width="25"></a>
                    </div>
                    <div v-else-if="entry[key].toLowerCase() === 'received'">
                        <div style="background-color: #ffff33;text-align: center;border-radius: 2px;font-family: sans-serif;padding: 5px;">
                            Uploaded
                        </div>
                    </div>
                    <div v-else-if="entry[key].toLowerCase() === 'processing'">
                        <div style="background-color: #cc6600;text-align: center;border-radius: 2px;font-family: sans-serif;padding: 5px;">
                            Processing
                        </div>
                    </div>
                    <div v-else-if="entry[key].toLowerCase() === 'complete'">
                        <div style="background-color: #32C367;text-align: center;border-radius: 2px;font-family: sans-serif;padding: 5px;">
                            Complete
                        </div>
                    </div>
                    <div v-else-if="entry[key].toLowerCase() === 'invalid_file'">
                        <div style="background-color: #FF0000;text-align: center;border-radius: 2px;font-family: sans-serif;padding: 5px;">
                            Invalid File
                        </div>
                    </div>
                    <div v-else style="font-family: sans-serif">{{entry[key]}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </script>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">


                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button" @click="$emit('close')">
                                    OK
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <img th:src="@{/img/logo.jpg}"/>
    <br/>
    <div style="align-items: flex-start" aria-setsize="10" id="block_container">

        <div class="border1">
            <fieldset>
                <legend style="color:#ff8000;font-weight:bold;">Discovery</legend>
                <div id="app1">
                    <div class="item1">
                        <a class="button button3" @click="toggleShow2">Buyer Discovery</a>
                        <bps-discovery-upload url="/bps/discovery/v0.1/discovery/buyers"
                                              lang-type="en"
                                              :only-single="true"
                                              :value="show2"
                                              field="file"
                                              key="0"
                                              max-size="2048"
                                              :only-csv="true"
                                              :params="otherParams"></bps-discovery-upload>
                    </div>
                </div>


                <div id="app2">
                    <div class="item2">
                        <a class="button button3" @click="toggleShow2">Supplier Discovery</a>
                        <bps-discovery-upload url="/bps/discovery/v0.1/discovery/suppliers"
                                              lang-type="en"
                                              :only-single="true"
                                              :value="show2"
                                              field="file"
                                              key="0"
                                              max-size="2048"
                                              :only-csv="true"
                                              :params="otherParams"></bps-discovery-upload>
                    </div>
                </div>
            </fieldset>
        </div>


        <div class='border2'>
            <fieldset>
                <legend style="color:#ff8000;font-weight:bold;">Registration</legend>
                <div class="form-group">
                    <select class="form-control"
                            name="agentName" id="agentName" required="required">
                        <option disabled="disabled" selected="selected">-- Select Agent --</option>
                    </select>
                </div>
                <div id="app3">
                    <div class="item3">
                        <a class="button button3" @click="toggleShow2">Buyer Registration</a>
                        <bps-discovery-upload url="/bps/discovery/v0.1/registration/buyers"
                                              lang-type="en"
                                              :only-single="true"
                                              :value="show2"
                                              field="file"
                                              key="0"
                                              max-size="2048"
                                              :only-csv="true"
                                              :params="otherParams"></bps-discovery-upload>
                    </div>
                </div>


                <div id="app4">
                    <div class="item4">
                        <a class="button button3" @click="toggleShow2">Supplier Registration</a>
                        <bps-discovery-upload url="/bps/discovery/v0.1/registration/suppliers"
                                              lang-type="en"
                                              :only-single="true"
                                              :value="show2"
                                              field="file"
                                              key="0"
                                              max-size="2048"
                                              :only-csv="true"
                                              :params="otherParams"></bps-discovery-upload>
                    </div>
                </div>


            </fieldset>
        </div>


    </div>
    <!-- discoverytable root element -->
    <div id="discoverytable">
        <discoverytable-grid
                :data="gridData "
                :columns="gridColumns"
                :filter-key="searchQuery">
        </discoverytable-grid>

    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white" style="font-family: sans-serif">BPS Discovery &copy;
            <script>document.write(new Date().getFullYear())</script>
        </p>
    </div>
    <!-- /.container -->
</footer>

<script th:src="@{js/vue.js}"></script>
<script th:src="@{js/axios.min.js}"></script>
<script th:src="@{js/table.js}"></script>
<script th:src="@{js/modal.js}"></script>
<script th:src="@{js/fileupload.js}"></script>
<script th:src="@{js/agents.js}"></script>

</body>
</html>